services:
  broker:
    build:
      context: ..
      dockerfile: broker/Dockerfile
    environment:
      - BROKER_PORT=50050
      - DATANODE_ADDRESSES=${DATANODE_ADDRESSES:-10.35.168.17:50051,10.35.168.122:50051,10.35.168.15:50051}
      - CONSENSUS_ADDRESSES=${CONSENSUS_ADDRESSES:-10.35.168.16:50060,10.35.168.17:50060,10.35.168.122:50060}
    # ports:
    #   - "50050:50050"
    network_mode: "host"

  datanode3:
    build: 
      context: ..
      dockerfile: datanode/Dockerfile
    environment:
      - DATANODE_ID=D3
      - DATANODE_ADDR=${DATANODE_ADDR:-10.35.168.15:50051}
      - DATANODE_ADDRESSES=${DATANODE_ADDRESSES:-10.35.168.17:50051,10.35.168.122:50051,10.35.168.15:50051}
      - DATANODE_PORT=50051
    # ports:
    #   - "50051:50051"
    network_mode: "host"

  ryw_client1:
    build: 
      context: ..
      dockerfile: ryw_client/Dockerfile
    environment:
      - CLIENT_ID=Pasajero-1
      - COORDINATOR_ADDR=${COORDINATOR_ADDR:-10.35.168.122:50070}
      - DATANODE_PORT=50051
    network_mode: "host"

  mr_client1:
    container_name: mr_client1
    build: 
      context: ..
      dockerfile: mr_client/Dockerfile
    environment:
      - BROKER_ADDR=${BROKER_ADDR:-10.35.168.15:50050}
      - CLIENT_ID=MR-Pass-1
    network_mode: "host"




